@media all and (max-width:1170px)
	$wrapper: 100%
	
	.wrapper
		width: 100% 
		padding: 0 10px
		box-sizing: border-box
		&_extended
			width: 80%

	.gallery__description
		overflow:hidden
		width: 70%

	.blog
		justify-content: space-around

// @media all and (max-width: 1024px) 


	
// @media all and (max-width: 768px) 


	
// @media all and (max-width: 480px) 
