@import "fonts"
@import "mixins"
@import "adjustment"

.wrapper 
	width: 1170px
	margin: 0 auto

// Header
header 
	min-width: 1170px
	height: 846px
	background: url('../img/averie-woodard-111823.jpg') center 0 no-repeat
	background-size: cover
	color: #fff


.header__contacts 
	width: 1170px
	padding: 23px 0
	margin-bottom: 45px


.header__contact 
	float: left


.header__contact * 
	display: inline-block
	opacity: 0.8
	color: #ffffff


.header__contact-tel 
	margin-right: 30px


.header__contact 
	div 
		font-family: Lato
	a
		font-family: Lato
	i
		padding-right: 5px


.header__socials 
	float: right
	display: flex
	width: 171px
	justify-content: space-between


.header__socials i 
		color: #fff


header:after 
	content: ""
	display: block
	position: absolute
	top: 60px
	left: 0
	height: 1px
	min-width: 1170px
	width: 100%
	background-color: #fff
	opacity: 0.3


.header__menu 
	float: right
	display: flex
	width: 555px
	justify-content: space-between


.header__menu-item 
	font-family: Lato
	font-size: 14px
	font-weight: 500
	text-transform: uppercase
	padding-top: 45px
	margin-top: -31px
	border-top: 2px solid transparent
	color: #fff
	transition: .3s
	&:hover 
		border-color: #d6a862
	


.header__title 
	margin-bottom: 45px


.header__title-head 
	margin-top: 260px
	text-align: center
	color: #ffffff
	font-family: 'butlermedium', Arial, sans-serif
	font-size: 64px
	font-weight: 500
	margin-bottom: 15px
	& span 
		color: #e8be7b
	


.header__title-desc 
	color: #ffffff
	font-family: Lato, Arial, sans-serif
	font-size: 16px
	font-weight: 400
	text-align: center


.header__buttons 
	display: flex
	justify-content: center


.header__button 
	width: 180px
	height: 48px
	color: #ffffff
	font-family: Lato, Arial, sans-serif
	font-size: 14px
	font-weight: 500
	text-transform: uppercase	
	margin: 0 15px
	text-align: center
	line-height: 45px


.header__button:first-child 
	border: 1px solid #fff


.header__button:last-child 
	background-color: #e8be7b
	& i
		padding-right: 5px
		line-height: 45px

// Our Services

.our-services
	background: url(../img/our-services.svg) center 0 no-repeat
	background-size: 1400px auto

.our-services__header
	margin-top: 120px
	text-align: center
	margin-bottom: 77px

.our-services__title
	color: #3a3a3a
	font-family: butlermedium, Arial, sans-serif
	font-size: 48px
	margin-bottom: 15px

.our-services__desc
	color: #3a3a3a
	font-family: Lato, Arial, sans-serif

.our-services__list
	display: flex
	justify-content: space-between
	margin-bottom: 60px

.our-services__item
	text-align: center
	width: 180px
	height: 172px
	transition: all 0.3s

	& i
		font-size: 32px
		color: #6f6f6f
		margin: 48px auto 40px

	&:hover
		box-shadow: 2px 2px 16px rgba(32, 32, 32, 0.1);
		background-color: #ffffff;

.our-services__link
	display: inline-block
	width: 100%
	height: 100%

.our-services__name
	color: #4d4d4d
	font-family: butlermedium, Arial, sans-serif
	font-size: 18px
	text-transform: uppercase

.our-icon
	display: block
	margin: 38px auto 40px !important
	height: 40px
	background: url(../img/icons/wedding-cake.png) 0 0 no-repeat
	padding-bottom: 2px

.wedding-cake
	width: 34px

.shopping-bag
	background-image: url(../img/icons/shopping-bag.png)
	width: 40px

.notebook
	width: 41px
	background-image: url(../img/icons/notebook.png)

.our-services__img
	float: left
	position: relative
	margin-right: 70px
	box-shadow: 10px 10px 0px 0px #e8be7b
	margin-bottom: 120px

.our-services__text
	padding-top: 75px

.text__h3
	color: #3a3a3a
	font-family: butlermedium, Arial, sans-serif
	font-size: 24px
	max-width: 360px
	display: inline-block
	margin-bottom: 10px

.text__paragraph
	color: #3a3a3a
	font-family: Lato
	font-size: 16px
	line-height: 26px

.text__link
	color: #d6a862
	font-family: Lato
	font-size: 18px
	font-weight: 500
	text-transform: uppercase
	&:after
		display: inline-block
		content: ''
		width: 33px
		height: 11px
		background: url("../img/icons/text-arrow.svg") 0 bottom no-repeat
		margin-left: 20px

// Gallery

.gallery 
	height: 800px
	width: 100%
	position: relative

.gallery__info
	position: absolute
	width: 970px
	height: 140px
	background-color: #fff
	bottom: 60px
	left: 0
	right: 0 
	margin: 0 auto
	box-sizing: border-box
	line-height: 140px
	font-size: 0
	color: #3a3a3a

.gallery__date
	display: inline-block
	margin-left: 80px
	padding-right: 30px
	height: 80px
	font: 32px butlermedium, Arial, sans-serif
	border-right: 1px solid black
	vertical-align: middle
	text-align: center
	i 
		color: #e8be7b
		font-size: 24px

.gallery__description
	padding-left: 30px
	display: inline-block
	width: 650px
	vertical-align: middle
	font: 16px Lato, Arial, sans-serif
	overflow: hidden

//Some slider SHIT

.gallery ul
	width: 100%
	height: 100%
	li 
		width: 100%
		height: 100%
		background: url(../img/gallery-img.jpg) center 0 no-repeat
		background-size: cover

.unslider
	position: relative
	min-width: 1170px

.unslider-arrow // next or prev
	width: 38px
	height: 16px
	top: 660px
	&.prev
		left: 100px
		background-image: url(../img/icons/gallery-arrow-prev.png)
	&.next
		right: 100px !important
		background-image: url(../img/icons/gallery-arrow-next.png)

//Channel__block

.Channel__title
	margin-top: 120px
  margin-bottom: 31px
	color: #3a3a3a
	font-family: butlermedium, Arial, sans-serif
	font-size: 48px
	margin-bottom: 15px
	text-align: center

.Channel__desc
	color: #3a3a3a
	font-size: 16px
	text-align: center
  font-family: Lato , Arial, sans-serif

  // BLOG latest block
.latest__blog
  background-color: #f7f7f7
.blog__header
	margin-top: 121px
	text-align: center
	margin-bottom: 18px

.blog__title
	color: #3a3a3a
	font-family: butlermedium, Arial, sans-serif
	font-size: 48px
	margin-bottom: 18px

.blog__item
		display: inline-block
		text-align: center

.blog__link
  color: #3a3a3a
  font-family: Lato, Arial, sans-serif
  font-size: 16px
